h1{
    background-color: darkslateblue;
    color: white;
    text-align: center;

}
.main-container{

display: flex;
justify-content: space-between;
padding: 20px 50px;
margin: 30px auto 0 auto;
}

.left-bar
{
flex: 1;
}
.right-bar
{
flex:1
}

.content-bar
{
flex: 4;

}
