
<div class="page">
    <div *ngFor="let author of authorMap.values()">
        <div class="each-author">
            <div class="author-name">
                {{author.name}}
            </div>
            <div class="author-photo">
                <img src="{{'..\\'+author.photo }}">
            </div>
            <div class="author-books">
                <ul>
                    <li *ngFor="let book of bookMap.get(author.id)"><a (click)="changeBook(book)">{{book.name}}</a></li>
                </ul>

            </div>
        </div>

    </div>

</div>