.loginform
{

    background-color: darkslateblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    
h2{
    color: white;
margin-left: 2%;
}
.name-section{
    flex: 1;
    
    margin:2%;
    }
.password-section
    {
       margin:2%;
    }
.button-section
{
    flex-wrap: wrap;
    text-align: right;
    margin-right: 50%;
    margin-bottom: 2%;
}

button
{
 background-color: adjust-color($color: #a109a1);
 color: white;
 border-radius: 5px
}
input
{
    border-radius: 5px
    
}
}