.loginform
{

    background-color: darkslateblue;
    margin-left: 5cm;
    margin-right: 25cm;
    border-radius: 15px;

h2{
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}


button
{
 margin-left: 15px;
 margin-top: 5px;
 background-color: darkorange;
 border-radius: 5px
}
input
{
    margin-left: 15px;  
    border-radius: 5px
}
}